@-moz-document url-prefix("https://es.wikipedia.org/wiki/Wikipedia:Portada") {
   /* 1) Fondo general + texto */
    
body {
    background: #C0C0C0 !important;
    color: #00ff00 !important;
    
}
    

/* 2) Links */
a {
    color: #00ff00 !important;

}

/* 3) Caja principal (donde está el artículo) */
.mw-body {
    background: #0b0f14 !important;
    max-width: 1100px !important;
    margin: 22px auto !important;
    padding: 18px 22px !important;
}

/* 4) Texto del artículo más cómodo */
.mw-parser-output {
    font-size: 17px !important;
    line-height: 1.75 !important;
font-family: Consolas, "Courier New", monospace !important;}

/* 5) Tablas e infobox (para que no queden blancas) */
.infobox, .wikitable, table {
    background: #0b0f14 !important;
    color: #0b0f14 !important;
}
}
